.burger {
  top: 60px;
}
.h_90 {
  height: 90%;
}
.w_100 {
  width: 100%;
}
.progress {
  height: 10px;
}

@media (max-width: 640px) {
  .buttons {
    display: none;
  }
  .user {
    display: none;
  }
  .toggle {
    display: flex;
  }
}
